<template>
    <div class="card">
        <ul class="nav flex-column">
            <li class="nav-item">
                <router-link class="nav-link" to="/settings/account">Konto</router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" to="/settings/changePassword">Zmień hasło</router-link>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "SettingsNavComponent"
    }
</script>

<style scoped>

</style>