<template>
    <div class="container">

                <h4>Grafik</h4>
                <form @submit="submitForm" enctype="multipart/form-data">
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" name="filename" class="custom-file-input" id="inputFileUpload"
                                   v-on:change="onFileChange">
                            <label class="custom-file-label" for="inputFileUpload">{{ filename }}</label>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" name="filename" class="custom-file-input" id="inputFile1Upload"
                                   v-on:change="onFileChange1">
                            <label class="custom-file-label" for="inputFileUpload">{{ filename1 }}</label>
                        </div>
                    </div>

                    <div class="form-group row" v-if="isSuAdmin">
                        <label for="site" class="col-sm-2 col-form-label">Restauracja: </label>
                        <div class="col-sm-10">
                            <select v-model="site_id" class="form-control" id="site">
                                <option v-for="site in sites" :value="site.id">{{ site.number + " | " + site.name }}</option>
                            </select>
                        </div>
                    </div>

                    <br>
                    <div>
                        <input :disabled="file === '' && file1 === ''" type="submit" class="btn btn-primary" value="Wgraj grafik">
                    </div>

                </form>
    </div>
</template>

<script>

    import {EventBus} from "../../event-bus"
    export default {
        name: "AdminGraphic",
        data() {
            return {
                filename: 'Wybierz grafik pracowniczy',
                file: '',
                success: '',
                filename1: 'Wybierz grafik menadżerski',
                file1: '',
                success1: '',
                sites: [],
                site_id: null
            };
        },
        computed: {
            isSuAdmin() {
                return this.$store.getters.isSuAdmin
            }
        },
        methods: {
            onFileChange(e) {
                this.filename = "Wybrany plik: " + e.target.files[0].name;
                this.file = e.target.files[0];
            },
            onFileChange1(e) {

                this.filename1 = "Wybrany plik: " + e.target.files[0].name;
                this.file1 = e.target.files[0];
            },
            submitForm(e) {
                e.preventDefault();

                let currentObj = this;
                const config = {
                    headers: {
                        'content-type': 'multipart/form-data',
                        'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content,
                    }
                };

                // form data
                let formData = new FormData();
                formData.append('graphic', this.file);
                formData.append('mgr', this.file1);
                if (this.site_id !== null) {
                    formData.append('site_id', this.site_id);
                }
                EventBus.$emit('loading', true);
                // send upload request
                this.axios.post('/api/updateGraphic', formData, config)
                    .then(function (response) {
                        currentObj.success = response.data.success;
                        currentObj.filename = 'Wybierz grafik pracowniczy';
                        currentObj.filename1 = 'Wybierz grafik menadżerski';
                        currentObj.file = '';
                        currentObj.file1 = '';
                        EventBus.$emit('loading', false);

                    })
                    .catch(function (error) {
                        currentObj.output = error;
                    });
            },
            getSites: function () {
                this.axios.get("/api/site/getSites").then(({data}) => {
                    this.sites = data.data;
                });
            }
        },
        created() {
            if (this.isSuAdmin) {
                this.getSites();
            }
        }
    }
</script>

<style scoped>

</style>