<template>
    <div>
        <h4>Sity</h4>
        <div class="card" v-show="loaded">
            <div class="card-body" >

                <v-table :data="sites" class="table">
                    <thead slot="head">
                    <th scope="col">Numer</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </thead>
                    <tbody slot="body" slot-scope="{displayData}">
                    <tr v-for="row in displayData" :key="row.id">
                        <td>
                            <span v-if="edit === row.id">
                                <input @input="$v.number.$touch()" class="form-control" v-model="number" type="text">
                                <p class="form-text text-danger" v-if="$v.number.$dirty && !$v.number.required">Pole jest wymagane</p>
                            </span>
                            <span v-else>{{ row.number }}</span>

                        </td>
                        <td>
                            <span v-if="edit === row.id">
                                <input @input="$v.name.$touch()" class="form-control" v-model="name" type="text">
                                <p class="form-text text-danger" v-if="$v.name.$dirty && !$v.name.required">Pole jest wymagane</p>
                            </span>
                            <span v-else>{{ row.name }}</span>

                        </td>
                        <td>
                            <span v-if="edit === row.id">
                                <button :disabled="$v.$invalid" type="button" @click="editSite(row.id)" class="btn btn-success">Zapisz</button>
                                <button type="button" @click="cancel" class="btn btn-warning">Anuluj</button>
                            </span>
                            <span v-else>
                                <button type="button" @click="startEdit(row.id, row)" class="btn btn-primary">Edytuj</button>
                            </span>


                        </td>
                        <td><button v-if="edit === 0" type="button" @click="deleteSite(row.id)" class="btn btn-danger">Usuń</button></td>
                    </tr>
                    </tbody>
                </v-table>

            </div>
        </div>
    </div>
</template>

<script>

    import { validationMixin } from 'vuelidate'
    import { required } from 'vuelidate/lib/validators'
    import {EventBus} from "../../event-bus"

    export default {
        name: "AdminSites",
        mixins: [validationMixin],
        data: function() {
            return {
                edit: 0,
                sites: [],
                loaded: false,
                number: 0,
                name: ""
            }
        },
        validations: {
            number: {
                required
            },
            name: {
                required
            }
        },
        methods: {
            getSites: function() {
                EventBus.$emit('loading', true);
                this.axios.get('/api/site/getSites').then(({data}) => {
                    this.sites = data.data;
                    EventBus.$emit('loading', false);
                    this.loaded = true;
                })
            },
            startEdit: function (id, row) {
                this.edit = id;
                this.number = row.number;
                this.name = row.name;
            },
            cancel: function () {
                this.edit = 0;
                this.number = 0;
                this.name = "";
            },
            editSite: function (id) {
                this.axios.patch("/api/site/editSite", {
                    site_id: id,
                    number: this.number,
                    name: this.name
                }).then( () => {
                    this.cancel();
                    this.getSites();
                })
            },
            deleteSite: function (id) {
                this.axios.delete("/api/site/deleteSite", { data: {
                    site_id: id
                    }}).then( () => {
                    this.cancel();
                    this.getSites();
                });
            }
        },
        created() {
            this.getSites();
        }
    }
</script>

<style scoped>

</style>