<template>
    <div>
        <h4>Użytkownicy</h4>
        <div class="card" v-show="loaded">
            <div class="card-body" >

                <v-table :data="users" class="table">
                    <thead slot="head">
                    <th scope="col">Restauracja</th>
                    <th scope="col">Imie</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Rola</th>
                    <th v-if="edit === 0" scope="col">Pow.</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </thead>
                    <tbody slot="body" slot-scope="{displayData}">
                    <tr v-for="row in displayData" :key="row.id">

                        <td>
                            <span v-if="edit === row.id">
                                <select @input="$v.site_id.$touch()"  v-model="site_id" class="form-control">
                                    <option v-for="site in sites" :value="site.id">{{ site.number }}</option>
                                </select>
                                <p class="form-text text-danger" v-if="$v.site_id.$dirty && !$v.site_id.required">Pole jest wymagane</p>
                            </span>
                            <span v-else>
                                {{ (row.site !== null) ? row.site.number : "0" }}
                            </span>

                        </td>
                        <td>
                            <span v-if="edit === row.id">
                                <input @input="$v.firstName.$touch()" class="form-control" v-model="firstName"   type="text">
                                <p class="form-text text-danger" v-if="$v.firstName.$dirty && !$v.firstName.required">Pole jest wymagane</p>
                            </span>
                            <span v-else>{{ row.firstName }}</span>
                        </td>
                        <td>
                            <span v-if="edit === row.id">
                                <input @input="$v.lastName.$touch()" class="form-control" v-model="lastName"   type="text">
                                <p class="form-text text-danger" v-if="$v.lastName.$dirty && !$v.lastName.required">Pole jest wymagane</p>
                            </span>
                            <span v-else>{{ row.lastName }}</span>
                        </td>
                        <td>
                            <span v-if="edit === row.id">
                                <select @input="$v.changeRole.$touch()" v-model="changeRole" class="form-control">
                                    <option v-for="role in roles" :value="role.value">{{ role.name }}</option>
                                </select>
                                <p class="form-text text-danger" v-if="$v.changeRole.$dirty && !$v.changeRole.required">Pole jest wymagane</p>
                            </span>
                            <span v-else>
                                {{ getRole(row.role) }}
                            </span>

                        </td>
                        <td>
                            <span v-if="edit === 0 && row.notifications === 1" class="badge badge-success">Włączone</span>
                            <span v-if="edit === 0 && row.notifications === 0" class="badge badge-warning">Wyłączone</span>
                        </td>
                        <td>
                            <button v-if="edit === 0 && row.active === 1 && row.id !== 1" type="button" @click="unActiveUser(row.id)" class="btn btn-danger">Dezaktywuj</button>
                            <button v-if="edit === 0 && row.active === 0 && row.id !== 1" type="button" @click="activeUser(row.id)" class="btn btn-success">Aktywuj</button>
                        </td>
                        <td>
                            <span v-if="edit === row.id">
                                <button :disabled="$v.$invalid" type="button" @click="editUser(row.id)" class="btn btn-success m-1">Zapisz</button>
                                <button type="button" @click="cancel" class="btn btn-warning m-1">Anuluj</button>
                            </span>
                            <span v-else>
                                 <button v-if="row.id !== 1" type="button" @click="startEdit(row.id, row)" class="btn btn-primary">Edytuj</button>
                            </span>
                        </td>
                        <td>
                            <button v-if="edit === 0 && row.id !== 1" type="button" @click="deleteUser(row.id)" class="btn btn-danger">Usuń</button>
                        </td>
                    </tr>
                    </tbody>
                </v-table>

            </div>
        </div>
    </div>
</template>

<script>

    import { validationMixin } from 'vuelidate'
    import { required } from 'vuelidate/lib/validators'
    import {EventBus} from "../../event-bus"

    export default {
        name: "AdminUsers",
        mixins: [validationMixin],
        validations: {
            lastName: {
                required
            },
            firstName: {
                required
            },
            changeRole: {
                required
            },
            site_id: {
                required
            }
        },
        data: function() {
            return {
                sites: [],
                roles: [
                    {
                        name: "Pracownik",
                        value: "employer"
                    },
                    {
                        name: "Admin",
                        value: "admin"
                    },
                    {
                        name: "Manager",
                        value: "mgr"
                    },
                    {
                        name: "Instruktor",
                        value: "instructor"
                    }
                ],
                edit: 0,
                users: [],
                loaded: false,
                site_id: null,
                firstName: "",
                lastName: "",
                changeRole: ""
            }
        },
        methods: {
            getUsers: function() {
                EventBus.$emit('loading', true);
                this.axios.get('/api/user/getUsers').then(({data}) => {
                    this.users = data.data;
                    EventBus.$emit('loading', false);
                    this.loaded = true;
                })
            },
            getSites: function() {
                EventBus.$emit('loading', true);
                this.axios.get('/api/site/getSites').then(({data}) => {
                    this.sites = data.data;
                    EventBus.$emit('loading', false);
                    this.loaded = true;
                })
            },
            startEdit: function (id, row) {
                this.edit = id;
                this.site_id = row.site_id;
                this.firstName = row.firstName;
                this.lastName = row.lastName;
                this.changeRole = row.role;
            },
            cancel: function () {
                this.edit = 0;
                this.site_id = null;
                this.firstName = "";
                this.lastName = "";
                this.changeRole = "";
            },
            editUser: function (id) {
                this.axios.patch("/api/user/modifyUser", {
                    user_id: id,
                    site_id: this.site_id,
                    firstName: this.firstName,
                    lastName: this.lastName
                }).then( () => {
                    this.cancel();
                    this.getUsers();
                })

                this.axios.patch("/api/user/changeRole", {
                    user_id: id,
                    role: this.changeRole
                }).then( () => {
                    this.cancel();
                    this.getUsers();
                })
            },
            deleteUser: function (id) {
                this.axios.delete("/api/user/deleteUser", { data: {
                        user_id: id
                    }}).then( () => {
                    this.cancel();
                    this.getUsers();
                });
            },
            getRole(role) {
                if (role === 'employer') {
                    return "Pracownik";
                } else if (role === 'instructor') {
                    return "Instruktor";
                } else if (role === 'mgr') {
                    return "Manager";
                } else if (role === 'admin') {
                    return 'Admin';
                } else if (role === 'suadmin') {
                    return "SAdmin";
                } else {
                    return '';
                }
            },
            activeUser: function (id) {
                this.axios.patch("/api/user/activeUser", {
                    user_id: id
                }).then( () => {
                    this.getUsers();
                })
            },
            unActiveUser: function (id) {
                this.axios.patch("/api/user/unActiveUser", {
                    user_id: id
                }).then( () => {
                    this.getUsers();
                })
            }

        },
        created() {
            this.getSites()
            this.getUsers();
        }
    }
</script>

<style scoped>

</style>

