<template>
    <div class="card">
        <ul class="nav flex-column">
            <li class="nav-item">
                <router-link class="nav-link" to="/admin/users">Użytkownicy</router-link>
                <router-link class="nav-link" to="/admin/graphic">Grafik</router-link>
                <router-link v-if="isSuAdmin" class="nav-link" to="/admin/sites">Sity</router-link>
            </li>
        </ul>
    </div>
</template>
<script>
    export default {
        name: "AdminNavComponent",
        computed: {
            isSuAdmin() {
                return this.$store.getters.isSuAdmin
            },
            isAdmin() {
                return this.$store.getters.isAdmin
            }
        },
    }
</script>

<style scoped>

</style>