<template>

    <div id="app">
        <loading :active.sync="isLoading"
                 :can-cancel="false"
                 :is-full-page="fullPage"></loading>

        <notifications group="foo" position="top center"/>
        <NavBar></NavBar>
        <router-view></router-view>
    </div>
</template>

<script>

    import {EventBus} from "./event-bus"
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';
    import NavBar from './components/NavbarComponent';

    export default {
        name: "App",
        components: {
            Loading, NavBar
        },
        data: function () {
            return {
                isLoading: false,
                fullPage: true
            }
        },
        methods: {
            loading: function (load) {
                this.isLoading = load;
            }
        },
        created() {
            EventBus.$on('loading', (load) => {
                this.loading(load);
            })
        },
        mounted() {
            // window.Echo.private('user.1')
            //     .listen('SendMessage', (e) => {
            //         console.log(e)
            //     });
        }
    }
</script>

<style scoped>

</style>