<template>
    <div class="container">

        <Datepicker :disabled-dates="disabledDates" :format="'MMMM yyyy'" :minimumView="'month'" :maximumView="'month'" :full-month-name="true" v-model="date" :bootstrap-styling="true" :language="pl"></Datepicker>


        <div v-if="graphic.length > 0">
            <button type="button" class="btn btn-primary mt-2 mb-2 float-right" @click="onClick">Pobierz PDF</button>
            <table class="table table-sm table-hover mt-3">
                <thead>
                <tr>
                    <th scope="col">Dzień</th>
                    <th scope="col">Dzień tygodnia</th>
                    <th scope="col">Start</th>
                    <th scope="col">Koniec</th>
                    <th scope="col">Liczba godzin</th>
                    <th scope="col">Uwagi</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in graphic">
                    <td>{{item.day}}</td>
                    <td>{{ getDayName(item) }}</td>
                    <td>{{item.start}}</td>
                    <td>{{item.end}}</td>
                    <td>{{item.numberHours}}</td>
                    <td>{{item.attention}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="mt-3" v-else>
            <h2>Nie ma grafiku jeszcze na ten miesiąc</h2>
        </div>
    </div>
</template>

<script>

    import {EventBus} from "../event-bus"
    import {pl} from 'vuejs-datepicker/dist/locale'
    import Datepicker from 'vuejs-datepicker';

    export default {
        name: "Account",
        components: {
            Datepicker
        },
        data: function () {
            return {
                pl: pl,
                graphic: [],
                date: new Date(),
                disabledDates: {
                    to: null,
                    from: null
                },
                days: ["Niedziela", "Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota"]
            }
        },
        methods: {
            getForUser: function () {
                EventBus.$emit('loading', true);
                this.axios.post('/api/day/getGraphicForUser', {
                    'month': this.date.getMonth() + 1,
                    'year': this.date.getFullYear()
                }).then(({data}) => {
                    this.graphic = data.data;
                    EventBus.$emit('loading', false);
                })
            },
            getDayName: function (item) {
                let day = new Date(item.year, item.month - 1, item.day);
                return this.days[day.getDay()];
            },
            addZero: function (item) {
                if (item <= 9) {
                    return "0" + item.toString();
                } else {
                    return item.toString()
                }
            },
            onClick: function () {
                this.axios({

                    url: "/api/day/generatePdfForUser",

                    method: 'POST',

                    responseType: 'blob',

                    data: {
                        'month': this.date.getMonth() + 1,
                        'year': this.date.getFullYear()
                    }

                }).then((response) => {

                    var fileURL = window.URL.createObjectURL(new Blob([response.data]));

                    var fileLink = document.createElement('a');



                    fileLink.href = fileURL;

                    fileLink.setAttribute('download', 'file.pdf');

                    document.body.appendChild(fileLink);



                    fileLink.click();

                });

            }
        },
        watch: {
            date(val) {
                this.date = val;
                this.getForUser()
            }
        },
        created() {
            this.disabledDates.to = new Date(new Date().getFullYear(),new Date().getMonth() - 9, 1);
            this.disabledDates.from = new Date(new Date().getFullYear(),new Date().getMonth() + 1, 1);
            this.getForUser();

        }
    }
</script>

<style scoped>

</style>