<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-3"><AdminNavComponent></AdminNavComponent></div>
            <div class="col-sm-9"><router-view></router-view></div>
        </div>
    </div>
</template>

<script>

    import AdminNavComponent from '../components/Admin/AdminNavComponent';

    export default {
        name: "Admin",
        components: {
            AdminNavComponent
        }
    }
</script>

<style scoped>

</style>