<template>
    <div class="container">


        <Datepicker :format="'dd MMMM yyyy'" :disabled-dates="disabledDates" :minimumView="'day'" :maximumView="'month'" v-model="date"  :monday-first="true" :full-month-name="true" :value="date" :bootstrap-styling="true" :language="pl"></Datepicker>

        <div v-if="graphic.employers.length > 0">
            <h4>Pracowniczy</h4>
            <table class="table table-sm table-hover mt-3">
                <thead>
                <tr>
                    <th scope="col">Imię</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Start</th>
                    <th scope="col">Koniec</th>
                    <th scope="col">Liczba godzin</th>
                    <th scope="col">Uwagi</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in graphic.employers">
                    <td>{{item.firstName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.start}}</td>
                    <td>{{item.end}}</td>
                    <td>{{item.numberHours}}</td>
                    <td>{{item.attention}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="mt-3" v-else>
            <h2>Nie ma grafiku jeszcze na ten miesiąc</h2>
        </div>

        <div v-if="graphic.mgrs.length > 0">
            <h4>Menadżerski</h4>
            <table class="table table-sm table-hover mt-3">
                <thead>
                <tr>
                    <th scope="col">Imię</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Start</th>
                    <th scope="col">Koniec</th>
                    <th scope="col">Liczba godzin</th>
                    <th scope="col">Uwagi</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in graphic.mgrs">
                    <td>{{item.firstName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.start}}</td>
                    <td>{{item.end}}</td>
                    <td>{{item.numberHours}}</td>
                    <td>{{item.attention}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>

<script>
    import {EventBus} from "../event-bus"
    import {pl} from 'vuejs-datepicker/dist/locale'
    import Datepicker from 'vuejs-datepicker';

    export default {
        name: "GraphicMonth",
        components: {
            Datepicker
        },
        data: function () {
            return {
                graphic: {
                    employers: [],
                    mgrs: []
                },
                pl: pl,
                date: new Date(),
                disabledDates: {
                    to: null,
                    from: null
                },
            }
        },
        methods: {
            getGraphic: function() {
                EventBus.$emit('loading', true);
                this.axios.post("/api/day/getGraphicForDay", {
                    "day": this.date.getDate(),
                    "month": this.date.getMonth() + 1,
                    "year": this.date.getFullYear()
                }).then(({data}) => {
                    this.graphic = data.data;
                    EventBus.$emit('loading', false);
                });
            }
        },
        watch: {
            date(val) {
                this.date = val;
                this.getGraphic();
            }
        },
        created() {
            this.disabledDates.to = new Date(new Date().getFullYear(),new Date().getMonth() - 9, 1);
            this.disabledDates.from = new Date(new Date().getFullYear(),new Date().getMonth() + 2, 1);
            this.getGraphic();
        }
    }
</script>

<style scoped>

</style>