<template>
    <div class="container">

        <div class="row">
            <div class="col-md-6 offset-md-3">

                <form>
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">Email: </label>
                        <div class="col-sm-7">
                            <input type="text" @input="$v.email.$touch()" v-model="email" class="form-control" id="email">
                            <p class="form-text text-danger" v-if="$v.email.$dirty && !$v.email.required">Pole jest wymagane</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-3 col-form-label">Hasło: </label>
                        <div class="col-sm-7">
                            <input type="password" @input="$v.password.$touch()" v-model="password" class="form-control" id="password">
                            <p class="form-text text-danger" v-if="$v.password.$dirty && !$v.password.required">Pole jest wymagane</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-7">
                            <button type="button" :disabled="$v.$invalid" @click="login" class="btn btn-success">Zaloguj się</button>
                            <router-link type="button" to="/register" class="btn btn-primary ">Zarejestruj się</router-link>
                        </div>
                    </div>
                </form>

            </div>
        </div></div>
</template>

<script>

    import notificationMixin from "../mixins/notificationMixin";
    import * as types from '../store/mutation-types'
    import jwtDecode from 'jwt-decode'
    import { validationMixin } from 'vuelidate'
    import { required, email } from 'vuelidate/lib/validators'

    export default {
        mixins: [notificationMixin, validationMixin],
        name: "Login",
        data: function () {
            return {
                email: "",
                password: ""
            }
        },
        validations: {
            email: {
                email,
                required
            },
            password: {
                required
            }
        },
        methods: {
            login: function () {
                this.axios.post("/api/auth/login", {
                    email: this.email,
                    password: this.password
                }).then(({data}) => {
                        localStorage.setItem('token', 'Bearer ' + data.access_token)
                        let decodeToken = jwtDecode(data.access_token);
                        this.$store.dispatch(types.LOGIN);
                        this.$store.dispatch(types.SETID, decodeToken.user.id);
                        notificationMixin.methods.notifySuccess("Logowanie", "Gratulacje zalogowałeś się :)")
                        this.$router.push("/user")
                    }).catch(() => {
                    notificationMixin.methods.notifyError("Logowanie", "Niestety nie możemy ciebie zalogować :(")
                })
            }
        },
        mounted() {
            if (this.$store.getters.logged) {
                this.$router.push('/user')
            }
        }
    }
</script>

<style scoped>

</style>