<template>
    <div class="container">

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form>
                    <div class="form-group row">
                        <label for="firstName" class="col-sm-4 col-form-label">Imię: </label>
                        <div class="col-sm-6">
                            <input type="text" v-model="firstName" @input="$v.firstName.$touch()" class="form-control" id="firstName">
                            <p class="form-text text-danger" v-if="$v.firstName.$dirty && !$v.firstName.required">Pole jest wymagane</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-4 col-form-label">Nazwisko: </label>
                        <div class="col-sm-6">
                            <input type="text" v-model="lastName" @input="$v.lastName.$touch()" class="form-control" id="lastName">
                            <p class="form-text text-danger" v-if="$v.lastName.$dirty && !$v.lastName.required">Pole jest wymagane</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-4 col-form-label">Hasło: </label>
                        <div class="col-sm-6">
                            <input type="password" v-model="password" @input="$v.password.$touch()" class="form-control" id="password">
                            <p class="form-text text-danger" v-if="$v.password.$dirty && !$v.password.required">Pole jest wymagane</p>
                            <p class="form-text text-danger" v-if="$v.password.$dirty && !$v.password.strongPassword">Pole musi zawierać litery cyfry znaki specjalne i musi być dłuższe niż 6 znaków</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="passwordConfirm" class="col-sm-4 col-form-label">Powtórz hasło: </label>
                        <div class="col-sm-6">
                            <input type="password" v-model="passwordConfirm" @input="$v.passwordConfirm.$touch()" class="form-control" id="passwordConfirm">
                            <p class="form-text text-danger" v-if="$v.passwordConfirm.$dirty && !$v.passwordConfirm.required">Pole jest wymagane</p>
                            <p class="form-text text-danger" v-if="$v.passwordConfirm.$dirty && !$v.passwordConfirm.sameAsPassword">Hasła nie są identyczne</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-4 col-form-label">Email: </label>
                        <div class="col-sm-6">
                            <input type="text" v-model="email" @input="$v.email.$touch()" class="form-control" id="email">
                            <p class="form-text text-danger" v-if="$v.email.$dirty && !$v.email.required">Pole jest wymagane</p>
                            <p class="form-text text-danger" v-if="$v.email.$dirty && !$v.email.email">Pole nie jest emailem</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="site" class="col-sm-4 col-form-label">Restauracja: </label>
                        <div class="col-sm-6">
                            <select @input="$v.site_id.$touch()" v-model="site_id" class="form-control" id="site">
                                <option v-for="site in sites" :value="site.id">{{ site.number + " | " + site.name }}</option>
                            </select>
                            <p class="form-text text-danger" v-if="$v.site_id.$dirty && !$v.site_id.required">Pole jest wymagane</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="button" :disabled="$v.$invalid" @click="createUserAccount" class="btn btn-primary">Zarejestruj</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>

<script>

    import notificationMixin from "../mixins/notificationMixin";
    import { validationMixin } from 'vuelidate'
    import { required, email, sameAs, numeric } from 'vuelidate/lib/validators'


    export default {
        name: "Register",
        mixins: [notificationMixin, validationMixin],

        data: function () {
            return {
                sites: [],
                site_id: null,
                email: "",
                firstName: "",
                lastName: "",
                password: "",
                passwordConfirm: ""
            }
        },
        validations: {
            email: {
                required,
                email
            },
            firstName: {
                required
            },
            lastName: {
                required
            },
            password: {
                required,
                strongPassword(password1) {
                    return (
                        /[a-z]/.test(password1) && // checks for a-z
                        /[0-9]/.test(password1) && // checks for 0-9
                        /\W|_/.test(password1) && // checks for special char
                        password1.length >= 6
                    );
                }
            },
            passwordConfirm: {
                required,
                sameAsPassword: sameAs('password')
            },
            site_id: {
                required,
                numeric
            }
        },
        methods: {
            createUserAccount: function () {
                let credentials = {
                    firstName: this.firstName,
                    lastName: this.lastName,
                    email: this.email,
                    password:  this.password,
                    passwordConfirm: this.passwordConfirm,
                    site_id: this.site_id
                };

                this.axios.post("/api/user/registerUser", credentials)
                    .then(() => {
                        notificationMixin.methods.notifySuccess("Rejestracja", "Udało ci się zarejestrowac do systemu :) Teraz możesz zalogować się")
                        this.$router.push("/");
                    }).catch(() => {
                    notificationMixin.methods.notifyError("Rejestracja", "Wystąpił błąd poczas rejestracji. Sprawdź swoje dane jeszcze raz!")
                })
            },
            getSites: function () {
                this.axios.get("/api/site/getSites").then(({data}) => {
                    this.sites = data.data;
                });
            }
        },
        created() {
            this.getSites();
        }
    }
</script>

<style scoped>

</style>