<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-3"><SettingsNavComponent></SettingsNavComponent></div>
            <div class="col-sm-9"><router-view></router-view></div>
        </div>
    </div>
</template>

<script>

    import SettingsNavComponent from '../components/Settings/SettingsNavComponent';

    export default {
        name: "Settings",
        components: {
            SettingsNavComponent
        }
    }
</script>

<style scoped>

</style>