<template>
    <div>
        <h4>Konto</h4>
        <div class="card" v-show="loaded">
            <div class="card-body" >
                <table>
                    <tr>
                        <td>Imię:</td>
                        <td>{{me.firstName}}</td>
                    </tr>
                    <tr>
                        <td>Nazwisko:</td>
                        <td>{{me.lastName}}</td>
                    </tr>
                    <tr>
                        <td>Rola:</td>
                        <td>{{getRole(me.role)}}</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>{{me.email}}</td>
                    </tr>
                    <tr>
                        <td>Powiadomienia:</td>
                        <td>
                            <span v-if="me.notifications === 1" class="badge badge-success">Włączone</span>
                            <span v-if="me.notifications === 0" class="badge badge-warning">Wyłączone</span>

                            <button v-if="me.notifications === 1" type="button" @click="unActiveUser(me.id)" class="btn btn-sm btn-danger">Dezaktywuj</button>
                            <button v-if="me.notifications === 0" type="button" @click="activeUser(me.id)" class="btn btn-sm btn-success">Aktywuj</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Konto utworzone: </td>
                        <td>{{new Date(me.created_at).toLocaleString()}}</td>
                    </tr>
                </table>



            </div>
        </div>
    </div>
</template>

<script>

    import {EventBus} from "../../event-bus"

    export default {
        name: "SettingsAccount",
        data: function () {
            return {
                me: {},
                loaded: false
            }
        },
        methods: {
            getMe() {
                EventBus.$emit('loading', true);
                this.axios.post("/api/auth/me").then(({data}) => {
                    this.me = data;
                    EventBus.$emit('loading', false);
                    this.loaded = true;
                })
            },
            getRole(role) {
                if (role === 'employer') {
                    return "Pracownik";
                } else if (role === 'instructor') {
                    return "Instruktor";
                } else if (role === 'mgr') {
                    return "Manager";
                } else if (role === 'admin') {
                    return 'Admin';
                } else if (role === 'suadmin') {
                    return "SAdmin";
                } else {
                    return '';
                }
            },
            activeUser: function (id) {
                this.axios.patch("/api/user/activeNotificationsUser", {
                    user_id: id
                }).then( () => {
                    this.getMe();
                })
            },
            unActiveUser: function (id) {
                this.axios.patch("/api/user/unActiveNotificationsUser", {
                    user_id: id
                }).then( () => {
                    this.getMe();
                })
            }
        },
        created() {
            this.getMe();
        }
    }
</script>

<style scoped>

</style>