<template>
    <div>
        <h4>Zmiana hasła</h4>
        <form>
            <div class="form-group row">
                <label for="oldPassword" class="col-sm-3 col-form-label">Stare hasło</label>
                <div class="col-sm-5">
                    <input type="password" @input="$v.oldPassword.$touch()" v-model="oldPassword" class="form-control" id="oldPassword">
                    <p class="form-text text-danger" v-if="$v.oldPassword.$dirty && !$v.oldPassword.required">Pole jest wymagane</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-3 col-form-label">Nowe hasło</label>
                <div class="col-sm-5">
                    <input type="password" @input="$v.password.$touch()" v-model="password" class="form-control" id="password">
                    <p class="form-text text-danger" v-if="$v.password.$dirty && !$v.password.required">Pole jest wymagane</p>
                    <p class="form-text text-danger" v-if="$v.password.$dirty && !$v.password.strongPassword">Pole musi zawierać litery cyfry znaki specjalne i musi być dłuższe niż 6 znaków</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="confirmPassword" class="col-sm-3 col-form-label">Powtórz nowe hasło</label>
                <div class="col-sm-5">
                    <input type="password" @input="$v.passwordConfirm.$touch()" v-model="passwordConfirm" class="form-control" id="confirmPassword">
                    <p class="form-text text-danger" v-if="$v.passwordConfirm.$dirty && !$v.passwordConfirm.required">Pole jest wymagane</p>
                    <p class="form-text text-danger" v-if="$v.passwordConfirm.$dirty && !$v.passwordConfirm.sameAsPassword">Hasła nie są identyczne</p>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8">
                    <button type="button" :disabled="$v.$invalid"  @click="changePassword" class="btn btn-primary float-right">Zmień hasło</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>

    import * as types from '../../store/mutation-types'
    import notificationMixin from "../../mixins/notificationMixin";
    import { validationMixin } from 'vuelidate'
    import { required, sameAs } from 'vuelidate/lib/validators'

    export default {
        name: "SettingsChangePassword",
        mixins: [notificationMixin, validationMixin],
        data: function () {
            return {
                oldPassword: '',
                password: '',
                passwordConfirm: ''
            }
        },
        validations: {
            password: {
                required,
                strongPassword(password1) {
                    return (
                        /[a-z]/.test(password1) && // checks for a-z
                        /[0-9]/.test(password1) && // checks for 0-9
                        /\W|_/.test(password1) && // checks for special char
                        password1.length >= 6
                    );
                }
            },
            passwordConfirm: {
                required,
                sameAsPassword: sameAs('password')
            },
            oldPassword: {
                required
            }
        },
        methods: {
            changePassword() {
                this.axios.post('/api/auth/changePassword', {
                    oldPassword: this.oldPassword,
                    password: this.password,
                    passwordConfirm: this.passwordConfirm
                }).then(() => {
                    notificationMixin.methods.notifySuccess("Hasło", "Hasło zostało zmienione")
                    localStorage.clear();
                    this.$store.dispatch(types.LOGOUT);
                    this.$store.dispatch(types.CLEAR);
                    this.$router.push("/")
                }).catch(() => {
                    notificationMixin.methods.notifyWarn("Hasło", "Hasło nie zostało zmienione")
                })
            }
        }
    }
</script>

<style scoped>

</style>