<template>

        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
            <div class="container">
            <router-link  to="/" class="navbar-brand">
                <img width="30" height="30" src="/image/logo.png" class="d-inline-block" alt="">
                cDonald's FMD
            </router-link>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>



            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <router-link v-if="isLogged" to="/user" class="nav-link">Grafik mies.</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link v-if="isLogged" to="/user/msc" class="nav-link">Grafik dzienny</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link v-if="isLogged" to="/user" class="nav-link">Prośby</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link v-if="isLogged" to="/settings/account" class="nav-link">Zarządzaj kontem</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link v-if="isAdmin" to="/admin/users" class="nav-link">Panel admina</router-link>
                    </li>
                </ul>

                <div class="mr-2" v-if="isLogged">
                    {{ getUser.firstName + " " + getUser.lastName }} | {{ (getUser.site !== null ? getUser.site : "Brak") }}
                </div>

                <ul class="navbar-nav float-right">
                    <li class="nav-item">
                        <a v-if="isLogged" @click="logout" class="btn btn-outline-danger" type="button">Wyloguj</a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>

</template>

<script>
    import * as types from '../store/mutation-types'
    import notificationMixin from "../mixins/notificationMixin";

    export default {
        name: "NavbarComponent",
        mixins: [notificationMixin],
        computed: {
            isLogged() {
                return this.$store.getters.logged
            },
            isMgr() {
                return this.$store.getters.isMgr
            },
            isEmlpoyer() {
                return this.$store.getters.isEmployer
            },
            isAdmin() {
                return this.$store.getters.isAdmin
            },
            getUser() {
                return this.$store.getters.getUser
            }
        },
        data: function() {
            return {
            }
        },
        methods: {
            logout: function () {
                localStorage.clear();
                this.$store.dispatch(types.LOGOUT);
                this.$store.dispatch(types.CLEAR);
                this.$router.push("/")
            }
        }
    }
</script>

<style scoped>

</style>