<template>
    <div>
        <button type="button" class="btn-primary btn float-right mb-1" data-toggle="modal" data-target="#addLessonModal">Dodaj site</button>

        <div class="modal fade" id="addLessonModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Dodaj site</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <label for="nameLesson" class="col-sm-3 col-form-label">Nazwa lekcji</label>
                                <div class="col-sm-9">
                                    <input v-model="name" type="text" class="form-control" id="nameLesson">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <button type="button" class="btn btn-primary" @click="addLesson" data-dismiss="modal">Dodaj lekcję</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import {EventBus} from "../event-bus"
    import notificationMixin from "../mixins/notificationMixin";

    export default {
        name: "AddSiteModal",
        mixins: [notificationMixin],
        data: function () {
            return {
                name: ''
            }
        },
        methods: {
            addLesson: function () {
                this.axios.post(process.env.VUE_APP_API_URL + '/api/lesson/create', {
                    name: this.name
                }).then(() => {
                    this.name = '';
                    notificationMixin.methods.notifySuccess("Lekcja", "Lekcja została dodana")
                    EventBus.$emit('panelRefreshLesson');
                }).catch(() => {
                    notificationMixin.methods.notifyWarn("Lekcja", "Lekcja nie została dodana")
                })
            }
        }

    }
</script>

<style scoped>

</style>
    }
</script>

<style scoped>

</style>